<p style="text-align:center;font-family:comic;font-size:30px;"><span style="background-color:wheat;border-radius: 10px;"><%= comment.user.username %></span></p>
<p style="text-align:center;font-family:shakapow;font-size:35px;"><span style="background-color:wheat;border-radius: 3px;"><%= comment.content %></span></p>
<p style="text-align:center;font-family:shakapow;font-size:35px;"><span style="background-color:wheat;border-radius: 3px;"><%= time_ago_in_words(comment.created_at) %>
</span></p>
