<%= form_for ([@post, @post.comments.build]) do |f| %>

<p style="color:white;"><%= f.label current_user.username %></p>
<p><%= f.text_area "content" %></p>

<%= f.submit "Reply", :class => "btn btn-primary" %>
<% end %>
