<h1>Marvel Avengers Collection</h1>

<!-- https://image.tmdb.org/t/p/w500/ -->

<ul style="list-style: none;">
	<% @movies.each do |mov| %>
    <li> <img src="https://image.tmdb.org/t/p/w500/<%= mov.poster_path%>" alt="movie-poster"></li>
		<h2><li> Title: <%=link_to mov.title, movie_path(mov) %> </li>
		<li> Overview: <%= mov.description%> </li>
		<li> Primary Release Date:<%= mov.release_date %> </li></h2>
		<%end%>
</ul>
