<h1><%=@user.username%> Profile Page</h1>

<ul style="list-style: none;">
<%@user.posts.each do |post| %>
  <li><%=link_to post.title, post_path(post)%><li>
<% end %>
</ul>
<%= link_to "Create New Post", new_post_path  %>
