<h1><%=@user.username%> Profile Page</h1>

<ul style="list-style: none;">
  <h3>Your Posts</h3>
<%@user.posts.each do |post| %>
  <li><%=link_to post.title, post_path(post)%><li>
<% end %>
</ul>

<h3>Previously Discussed</h3>
<% @user.movies.each do |movie| %>
<img src="https://image.tmdb.org/t/p/w500/<%= movie.poster_path%>" alt="movie-poster">
<% end %>
<%= link_to "Create New Post", new_post_path  %>
