/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";

.jumbotron {
  background-image: url('/assets/marvel.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-color: black;
  border: 10px solid;
  height: 600px;
  text-align: center;
}

.jumbotron h1 {
    font-size: 15.5rem;
    margin: 5rem 16.5rem;
    background: wheat;
    opacity: .75;
    width: 71%;
    border-radius: 75px;
}

.bg-black {
  background-color: black;

}

#floating-left {
  padding-right: 92rem;
}

.banner-in-emergency {background-image: url(https://img00.deviantart.net/3f96/i/2014/356/d/8/marvel_cinematic_universe_banner_by_paulrom-d8att2s.jpg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}

.carousel-item{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-color: black;
  border: 10px solid;
  height: 600px;
  text-align: center;
}

.nav-item{
  color: darkred;
}
